*{
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.principal{
    display: grid;
    place-items: center;
    gap: 0px;
    height: 100vh;
}

.selecaoI{
    width: fit-content;
    display: grid;
    place-items: center;
}

.selecaoI input{
    display: grid;
    place-items: center;
    width: 50px;
    aspect-ratio: 1/1;
    margin: 10px 5px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    
}

.columns{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.selecaoDeLet {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(9, 90px);   
}


.selecaoDeLet input{
    display: grid;
    place-items: center;
    width: 40px;
    aspect-ratio: 1/1;
    margin: 5px;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: rgb(146, 233, 151);
    border-radius: 5px;
    text-transform: uppercase;
}


.selecaoDeLet:has(.letras:hover)  :not(:hover){
    opacity: 0.7;
    transition: all 0.3s;
}

.resp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.visible{
    display: flex;
    gap :30px;
}
.resp button{ 
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
    font-weight: 700;
    
}

.visible button:nth-child(1):hover{ 
    cursor: pointer;
    background-color: rgb(179, 11, 11);
    color: white;
}

.visible button:nth-child(2):hover{ 
    cursor: pointer;
    background-color: rgb(0, 255, 21);
}

.newTry{
    display: none;
    text-align: center;
    width: fit-content;
}
.newTry:hover{ 
    background-color: rgb(229, 255, 0);
}


